#*.class

*.jar
*.war
*.ear
/target
/.settings
/.classpath
/.project
/.sts4-cache
.sts4-cache
/today-context.iml
/.idea/
/coverage-error.log
.DS_Store

/.idea
*.iml
*.DS_Store
*.class
/tomcat.8080
*/build/*

.gradle
/build/
/tmp/
/today-framework/target/
.flattened-pom.xml
*/.flattened-pom.xml
**/target/**
/buildSrc/build/*
**/build/**
publish.sh
cached-antora-playbook.yml