<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>Netty App Demo</contextName>
  <include resource="infra/app/logging/logback/base.xml" />

  <infra-profile name="dev">

    <property name="CONSOLE_LOG_PATTERN"
        value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){red} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} - %blue([%16.16t]) %cyan(%-40.40logger{40}) %4.4L - %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </infra-profile>

  <infra-profile name="prod">
    <root level="INFO">
      <appender-ref ref="FILE" />
    </root>
  </infra-profile>

</configuration>



