<?xml version="1.0" encoding="UTF-8"?><!--
  ~ Copyright 2017 - 2024 the original author or authors.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see [https://www.gnu.org/licenses/]
  -->

<configuration>
  <contextName>Netty App Demo</contextName>
  <include resource="cn/taketoday/framework/logging/logback/base.xml" />

  <infra-profile name="dev">

    <property name="CONSOLE_LOG_PATTERN"
        value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){red} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} - %blue([%16.16t]) %cyan(%-40.40logger{40}) %4.4L - %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </infra-profile>

  <infra-profile name="prod">
    <root level="INFO">
      <appender-ref ref="FILE" />
    </root>
  </infra-profile>

</configuration>



