<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.orm.mybatis.TestMapper">

  <sql id="includedSql">1</sql>

  <select id="findTest" resultType="int">
    SELECT 1
  </select>
<!--  <include refid="includedSql" />-->

  <!-- invalid SQL used to test exception translation -->
  <select id="findFail" resultType="int">
    SELECT 'fail'
  </select>

  <insert id="insertTest">
    INSERT #{test} INTO test
  </insert>

  <insert id="insertFail">
    INSERT fail
  </insert>
</mapper>
