<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>TODAY Framework</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) - %blue([%16.16t]) %cyan(%-40.40logger{40}) %4.4L - %m%n
      </pattern>
      <!-- 	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L [%t:%r] - %m%n</pattern> -->
    </encoder>
  </appender>

  <logger name="org.apache" level="WARN" />
  <logger name="org.osjava.sj.jndi" level="OFF" />
  <logger name="infra.context.annotation" level="OFF" />
  <logger name="org.apache.tomcat.util.scan" level="OFF" />

  <!--  <root level="TRACE">-->
  <!--  <root level="DEBUG">-->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>



