<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
  Original Author -> 杨海健 (taketoday@foxmail.com) https://taketoday.cn
  Copyright © Today & 2017 - 2018 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 -->
<configuration>
  <contextName>TODAY test</contextName>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %red(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) - %blue([%16.16t]) %cyan(%-40.40logger{40}) %4.4L - %m%n
      </pattern>
    </encoder>
  </appender>

  <!--  <root level="ERROR">-->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>



