<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>TODAY IOC</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p - [%16.16t] %-40.40logger{40} %4.4L - %m%n</pattern>
		<!-- 	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %c{1}:%L [%t:%r] - %m%n</pattern> -->
		</encoder>
	</appender>

<!-- 
	<root level="INFO">
 -->
	<root level="TRACE">
		<appender-ref ref="STDOUT"/>
	</root>

</configuration>



