<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <settings>
    <!-- changes from the defaults for testing -->
    <setting name="cacheEnabled" value="false" />
    <setting name="useGeneratedKeys" value="true" />
    <setting name="defaultExecutorType" value="REUSE" />
    <setting name="vfsImpl" value="org.apache.ibatis.io.JBoss6VFS" />
  </settings>

  <mappers>
    <mapper resource="cn/taketoday/orm/mybatis/TestMapper.xml" />
  </mappers>

</configuration>
