name: Codecov

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master
      - 'dev/**'
      - 'fix/**'
      - 'feat/**'
      - 'feature/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-coverage:
    if: github.repository_owner == 'TAKETODAY'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: liberica

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Test Coverage
        run: ./gradlew -DCI=true -Pcode-coverage --no-daemon --no-parallel testCodeCoverageReport --scan --stacktrace

      - name: Report coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: 'infra-build/infra-code-coverage/build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml'
          token: ${{ secrets.CODECOV_TOKEN }}
